section {
  padding-top: 30px;
  padding-bottom: 60px;
}

section h2,
section h3 {
  text-align: center;
}
section img {
  width: 100%;
}

main {
  margin-top: 55px;
}

main > div:first-child {
  background-color: #cc0000;
  color: #fff;
}

main > div:not(:first-child):nth-child(odd) {
  background-color: #252934;
  color: white;
}

main > div:not(:first-child):nth-child(even) {
  color: #252934;
}

footer {
  text-align: center;
  background-color: #252934;
  color: white;
  padding: 20px 0;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: inherit;
  transition: color ease 0.3s;
}

footer a:hover {
  color: #93a1c7;
}

footer a i {
  font-size: 50px;
  padding: 10px;
}

.cta {
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  color: #252934;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  transition: all ease 0.3s;
}

.cta:hover {
  box-shadow: 0px 5px 15px #252934;
  padding: 15px 25px 15px 25px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
}

.hero .cta {
  display: block;
  margin: 0 auto;
}

.hero > div {
  max-width: 400px;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list li {
  margin-bottom: 20px;
  border-left: 6px solid #cc0000;
  border-top: 2px solid #252934;
  border-right: 2px solid #252934;
  border-bottom: 2px solid #252934;
  padding: 10px;
}

.pricing {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #252934;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.card li {
  margin-bottom: 10px;
}

.card strong {
  color: #93a1c7;
}

.hash-anchor-stop {
  position: relative;
  top: -55px;
  display: hidden;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
    height: 550px;
    justify-content: space-around;
  }

  .hero .cta {
    display: inline;
  }

  .about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .about-content > p {
    width: 50%;
    padding-left: 20px;
    align-self: flex-start;
  }

  .about-content > div {
    width: 50%;
  }

  .pricing {
    display: flex;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
