body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 18px;
}

.container {
  padding: 10px 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 23px;
  }

  p {
    font-size: 19px;
  }
}
