body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

p,
li {
  font-size: 17px;
}

ul {
  padding: 0;
}

ol ul {
  padding-left: 10px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.shadow {
  box-shadow: 2px 3px 5px #252934;
}

.b-radius {
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 23px;
  }

  p,
  li {
    font-size: 19px;
  }
}
